<div class="bg-gray-900 dark:bg-black">
  <app-hero-section data-aos="fade-up"></app-hero-section>

  <app-journey data-aos="fade-up"></app-journey>

  <!-- Services Section -->
  <section class="max-w-7xl bg-gray-900 dark:bg-black mx-auto px-16 py-6" data-aos="fade-up">
    <h2
      class="text-gray-900 dark:text-white text-3xl font-bold mb-10 border-l-4 border-blue-500/40 pl-3"
    >
      Services
    </h2>

    <div class="grid md:grid-cols-3 gap-8">
      <app-service
        data-aos="zoom-in"
        data-aos-delay="100"
        icon="fas fa-code"
        title="Full Stack Web Development"
        description="Design and development of high-performance web and hybrid applications using Angular, React, Next.Js, and reliable frameworks."
      ></app-service>

      <app-service
        data-aos="zoom-in"
        data-aos-delay="200"
        icon="fas fa-server"
        title="Backend & API Engineering"
        description="Secure, scalable backend systems with REST APIs and role-based access."
      ></app-service>

      <app-service
        data-aos="zoom-in"
        data-aos-delay="300"
        icon="fas fa-layer-group"
        title="Product UI & System Design"
        description="Clean, responsive, and user-focused interfaces."
      ></app-service>
    </div>
  </section>
</div>
