@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.card {
    background: #cd8686;
    border-radius: 18px;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}


.filters {
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    padding-bottom: 0.5rem;
}

.filter-btn {
    white-space: nowrap;
}